.App {
  height: 100vh;
  /* text-align: center; */
  background: linear-gradient(rgba(236, 240, 10, 0.514), rgba(100, 4, 79, 0.1)),
url("./img/laptop.jpg");
  background-size: cover;
  overflow-y: scroll;
  /* font-family: 'Ubuntu', sans-serif; */
  font-family: 'Rajdhani', sans-serif;
  font-weight: 500;
  position: relative;
  /* font-family: 'Play', sans-serif; */
  /* font-family: 'Atkinson Hyperlegible', sans-serif; */
}

/* .header-container {
  width: 100vw;
  height: auto;
  position: fixed;
  top:0;
  left:0;

} */
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.title {
  color:white;
  font-family: 'Ubuntu', sans-serif;
  /* font-weight: 500; */
  font-family: 'Titillium Web', sans-serif;
  font-family: 'Rajdhani', sans-serif;
  font-family: 'Staatliches', sans-serif;
  font-size: 38px;
  margin: 0.5em 0;
  text-shadow: 1px 2px 3px #030213;
}

/* tweetCard */
.TweetCard-container {
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: scroll;
}
.card {
  width: 500px;
  max-height: 250px;
  /* height: auto; */
  border: 1px none black;
  border-radius: 10px; 
  margin: 0.7rem;
  padding: 0.5rem;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.user {
  display: flex;
  align-items: bottom;
}
.icon-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 10px ;
}
.date {
  margin-left: auto;
  margin-right: 10px;
}

.date p {
  margin: 0;
}

.text {
  margin: 8px 10px;
}

.link {
  float: right;
  margin-right: 10px;
  text-decoration: none;
  background-color: #3acaf1;
  color: rgb(248, 248, 248);
  padding: 3px 5px;
  margin-bottom: 0.5rem;
  border-radius: 3px;
}
.link:hover {
  background-color: #01a8d6;
}
/* for float */
/* .clearfix:after{
	content: "";
	clear: both;
	display: block;
} */
.input {
  width: 250px;
  height: 1.5rem;
  font-size: 16px;
  border-radius: 3px;
  border: none;
  font-family: 'Staatliches', sans-serif;

}

.search-btn {
  height: 1.7rem;
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
  font-family: 'Titillium Web', sans-serif;
  font-family: 'Staatliches', sans-serif;
  color: white;
  background-color: rgb(4, 118, 248);
  border: none;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.search-btn:hover {
  background-color: rgb(0, 82, 177);
}

.btn {
  width: auto;
  height: 1.7rem;
  background-color: yellow;
  padding: 5px 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-family: 'Ubuntu', sans-serif;
  font-family: 'Rajdhani', sans-serif;
  font-family: 'Staatliches', sans-serif;
  margin-right: 1rem;
}

.btn:hover {
  background-color: rgb(255, 230, 4);
}

.topic-box {
  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */
}

.topic {
  text-align: center;
  font-family: 'Staatliches', sans-serif;
  color: white;

}

  .topic-name {
    font-size: 1.3rem;
    color: #3acaf1;
  } 

.copy-right {
  position: fixed;
  bottom: 10px;
  left:0;
  writing-mode: vertical-lr;
  z-index: 50;
  text-orientation: sideways;
  margin: 5px;
  color: #585858;
}


@media (max-width:770px) {
  .TweetCard-container {
    height: 80vh;
  } 

  .title {
    margin-bottom: 0;
  }
}

@media(max-width: 480px) {

  /* .App {
    background-position: center;
  } */
  .title {
    font-size: 30px;
    margin-bottom: 10px;
  }
  
  .input {
    width: 200px;
    height: 1.5rem;
    font-size: 16px;
    border-radius: 3px;
    border: none;
    font-size: 14px;

  }

  .card {
    margin: 0.5rem;
  }

  .copy-right {
    display: none;
  } 
}